#
# ~/.zshrc.d/git.zsh
#

git_wrapper()
{
  if (( $# == 0 )) ; then
    command git status
  else
    command git "$@"
  fi
}

alias g='noglob git_wrapper' ; compdef g=git
alias git='noglob git_wrapper'
