"*":
  "auto-detect-indentation":
    showSpacingInStatusBar: false
  "autocomplete-plus":
    confirmCompletion: "tab"
  core:
    audioBeep: false
    autoHideMenuBar: true
    telemetryConsent: "no"
    disabledPackages: [
      "metrics"
      "archive-view"
      "autocomplete-snippets"
      "bookmarks"
      "language-csharp"
      "language-clojure"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-property-list"
      "language-ruby"
      "language-ruby-on-rails"
      "language-toml"
      "open-on-github"
      "exception-reporting"
    ]
    excludeVcsIgnoredPaths: false
    themes: [
      "one-dark-ui"
      "monokai-seti"
    ]
    warnOnLargeFileLimit: 7
  editor:
    fontFamily: "DejaVu Sans Mono"
    invisibles:
      cr: " "
      eol: " "
      tab: "-"
    preferredLineLength: 120
    scrollPastEnd: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "8becb984-f536-543d-23ac-73153ad6eb9d"
  fonts:
    fontFamily: "Droid Sans Mono"
  "go-plus":
    getMissingTools: true
    format:
      tool: "gofmt"
    lint:
      args: [
        "--vendor"
        "--concurrency=1"
        "--enable-gc"
        "--disable=gotype"
        "--enable=lll"
        "--dupl-threshold=80"
        "--line-length=120"
        "--deadline=120s"
        "--tests"
        "--json"
      ]
    panelDisplayMode: "closed"
  linter:
    lintOnFly: false
    showErrorTabProject: false
    statusIconScope: "File"
  "markdown-preview":
    liveUpdate: false
    useGitHubStyle: true
  "one-dark-ui":
    layoutMode: "Spacious"
  "tab-control":
    autoSaveChanges: true
  tabs:
    usePreviewTabs: true
  "todo-show":
    findTheseTodos: [
      "FIXME"
      "TODO"
      "CHANGED"
      "XXX"
      "IDEA"
      "HACK"
      "REVIEW"
    ]
  welcome:
    showOnStartup: false
