Section "InputClass"
    Identifier         "system-keyboard"
    MatchIsKeyboard    "on"
    Option             "XkbLayout"  "{{ xorg_keyboard_layout }}"
    Option             "XkbVariant" "{{ xorg_keyboard_variant }}"
EndSection
