Section "InputClass"
    Identifier         "Keyboard Layout"
    MatchIsKeyboard    "yes"
    Option             "XkbLayout"  "{{ xorg_keyboard_layout }}"
    Option             "XkbVariant" "{{ xorg_keyboard_variant }}"
EndSection