[Configuration]
ColorPalette=rgb(16,16,16);rgb(170,0,0);rgb(160,207,93);rgb(243,157,33);rgb(78,112,177);rgb(133,66,255);rgb(78,171,177);rgb(204,204,204);rgb(64,64,64);rgb(210,61,61);rgb(184,214,140);rgb(225,170,93);rgb(125,153,207);rgb(152,100,251);rgb(125,202,207);rgb(255,255,255)
MiscAlwaysShowTabs=FALSE
MiscBell=FALSE
MiscBellUrgent=FALSE
MiscBordersDefault=TRUE
MiscCursorBlinks=FALSE
MiscCursorShape=TERMINAL_CURSOR_SHAPE_BLOCK
MiscDefaultGeometry=80x24
MiscInheritGeometry=FALSE
MiscMenubarDefault=FALSE
MiscMouseAutohide=TRUE
MiscMouseWheelZoom=TRUE
MiscToolbarDefault=FALSE
MiscConfirmClose=TRUE
MiscCycleTabs=TRUE
MiscTabCloseButtons=TRUE
MiscTabCloseMiddleClick=TRUE
MiscTabPosition=GTK_POS_TOP
MiscHighlightUrls=TRUE
MiscMiddleClickOpensUri=FALSE
MiscCopyOnSelect=FALSE
MiscDefaultWorkingDir=
MiscRewrapOnResize=TRUE
MiscUseShiftArrowsToScroll=FALSE
MiscSlimTabs=FALSE
ColorCursor=#d3d3d7d7cfcf
ShortcutsNoMenukey=TRUE
ShortcutsNoHelpkey=TRUE
ScrollingLines=1007
ScrollingUnlimited=TRUE
FontName=Monospace 10
